* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 760px;
    background-color: rgb(22, 34, 57, 0.85);

    video {
        width: 100%;
        z-index: -1;
        filter: opacity(0.4);
    }

    .header {
        width: 100%;
        height: 80px;
        margin: 0 auto;
        margin-top: -750px;
        background-color: rgba(22, 34, 57, 0.95);

        h1 {
            color: gold;
            font-size: 37px;
            padding-top: 10px;

            span {
                color: white;
            }
        }

        a {
            float: right;
            color: white;
            text-decoration: none;
            margin-top: -3px;
            margin: 29px;
        }
    }

    .box {
        width: 40%;
        height: 300px;
        text-align: center;
        margin: 0 auto;
        margin-top: 150px;

        h1 {
            font-size: 50px;
            color: gold;

            span {
                color: white;
            }
        }

        h4 {
            color: white;
            font-size: 17px;
            padding-top: 20px;
        }

        button {
            width: 170px;
            height: 50px;
            background-color: rgb(253, 183, 6);
            border: none;
            color: white;
            font-size: 17px;
            margin-top: 80px;
        }
    }
}

.container {
    width: 100%;
    height: 700px;
    background-image: url(../choosing-bg.jpg);
    padding-top: 90px;

    .why {
        width: 270px;
        height: 50px;
        border: 2px solid rgb(87, 85, 85);
        text-align: center;
        margin: 0 auto;

        p {
            font-size: 22px;
            color: rgb(206, 206, 206);
            padding-top: 10px;
        }
    }

    .education {
        width: 78%;
        height: 100px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        justify-content: space-around;

        .best {
            width: 200px;
            height: 90px;
            text-align: center;

            p {
                font-size: 16px;
                color: white;
                word-spacing: 4px;
            }

            .box0 {
                width: 15px;
                height: 15px;
                background-color: white;
                margin: 0 auto;
                margin-top: 15px;
            }
        }
    }

    .best_education {
        width: 80%;
        height: 350px;
        margin: 0 auto;

        .left {
            width: 40%;
            height: 300px;
            float: left;
            margin-top: 20px;

            img {
                width: 100%;
                height: 300px;
            }
        }

        .right {
            width: 55%;
            height: 300px;
            float: right;
            margin-top: 40px;

            h2 {
                color: #fff;
                font-size: 34px;
            }

            p {
                font-size: 20px;
                color: rgb(207, 206, 204);
                padding-top: 40px;

                span {
                    color: limegreen;
                    border-bottom: 1px solid grey;
                }
            }
        }
    }
}

.online_course {
    width: 100%;
    height: 700px;
    background-image: url(../coming-soon-bg.jpg);

    .course {
        width: 88%;
        height: 550px;
        margin: 0 auto;
        padding-top: 100px;

        .write {
            width: 60%;
            height: 500px;
            float: left;

            .buttom {
                width: 90%;
                height: 200px;
                display: flex;
                margin: 0 auto;
                justify-content: space-between;

                .box2 {
                    width: 140px;
                    height: 140px;
                    background-color: rgba(250, 250, 250, 0.1);
                    margin-top: 50px;
                    text-align: center;

                    h1 {
                        font-size: 50px;
                        color: #fff;
                        padding-top: 15px;
                    }

                    h2 {
                        text-align: center;
                        color: rgb(192, 128, 10);
                        font-size: 20px;
                    }
                }
            }

            .take {
                width: 90%;
                height: 100px;
                margin: 0 auto;
                margin-top: 100px;

                h1 {
                    word-spacing: 4px;
                    font-size: 33px;
                    padding-left: 35px;
                    padding-right: 20px;
                    color: white;

                    span {
                        color: rgb(252, 192, 43);
                    }
                }
            }
        }

        .form_apply {
            width: 38%;
            height: 500px;
            float: right;
            background-color: rgba(250, 250, 250, 0.1);

            .top {
                width: 100%;
                height: 130px;
                background-color: rgba(250, 250, 250, 0.2);

                p {
                    font-size: 20px;
                    text-align: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 40px;
                    color: aliceblue;
                }
            }

            .bottom {
                width: 90%;
                height: 300px;
                margin: 0 auto;
                margin-top: 50px;

                input {
                    border: none;
                    width: 90%;
                    height: 40px;
                    background-color: rgba(250, 250, 250, 0.1);
                    color: #fff;
                    font-size: 17px;
                    margin: 10px;
                }

                button {
                    width: 160px;
                    height: 50px;
                    font-size: 18px;
                    background-color: gold;
                    border: none;
                    margin: 0 auto;
                    margin-left: 120px;
                    margin-top: 25px;
                    color: white;
                }
            }
        }
    }
}

.card {
    width: 100%;
    height: 730px;
    background-image: url(../choosing-bg.jpg);
    padding-top: 32px;

    .why {
        width: 270px;
        height: 50px;
        border: 2px solid rgb(87, 85, 85);
        text-align: center;
        margin: 0 auto;

        p {
            font-size: 22px;
            color: rgb(206, 206, 206);
            padding-top: 10px;
        }
    }

    .card_product {
        width: 100%;
        height: 600px;
        display: flex;
        gap: 10px;

        .items {
            width: 21%;
            height: 510px;
            background-color: white;
            margin-top: 30px;
            border-radius: 10px;

            .social {
                width: 100%;
                height: 200px;

                img {
                    width: 100%;
                    height: 200px;
                }
            }

            .media {
                width: 90%;
                height: 310px;
                margin: 0 auto;
                margin-top: 20px;

                h2 {
                    font-size: 20px;
                    text-align: center;
                    padding-top: 20px;
                }

                p {
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 18px;
                    text-align: center;
                    color: rgb(119, 119, 119);
                }

                .pay {
                    width: 90%;
                    height: 60px;
                    margin: 0 auto;
                    margin-top: 25px;

                    img {
                        border: 2px solid rgb(241, 206, 3);
                        border-radius: 50%;
                        margin-top: 10px;
                        width: 45px;
                        height: 45px;
                    }

                    h3 {
                        padding-top: 24px;
                        float: right;
                        color: rgb(252, 192, 43);
                        font-size: 21px;

                        i {
                            color: dimgrey;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .yellow {
        width: 170px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        .box00 {
            width: 10px;
            height: 10px;
            background-color: white;
            margin-top: 10px;
        }
    }
}

.selection {
    width: 100%;
    height: 700px;
    background-image: url(../video-bg.jpg);
    padding-top: 100px;

    .external_url {
        width: 90%;
        height: 600px;
        margin: 0 auto;

        .presention {
            width: 53%;
            height: 450px;
            float: left;
            padding-left: 30px;

            h3 {
                font-size: 17px;
                color: white;
            }

            h2 {
                font-size: 35px;
                color: white;

                span {
                    color: gold;
                }
            }

            p {
                color: rgb(218, 218, 218);
                font-size: 19px;
                word-spacing: 3px;
                letter-spacing: .4px;
                padding-right: 30px;

                span {
                    color: rgb(90, 90, 167);
                }
            }

            button {
                width: 160px;
                height: 45px;
                background-color: gold;
                font-size: 17px;
                color: white;
                border: none;
                margin-top: 40px;
            }
        }

        .template {
            width: 40%;
            height: 450px;
            float: right;

            img {
                width: 100%;
                height: 450px;
            }
        }
    }
}

.form {
    width: 100%;
    height: 780px;
    background-image: url(../contact-bg.jpg);
    padding-top: 60px;

    .why {
        width: 270px;
        height: 50px;
        border: 2px solid rgb(87, 85, 85);
        text-align: center;
        margin: 0 auto;

        p {
            font-size: 22px;
            color: rgb(206, 206, 206);
            padding-top: 10px;
        }
    }

    .select {
        width: 85%;
        height: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 80px;

        .massage {
            width: 48%;
            height: 450px;
            padding-top: 30px;
            background-color: rgba(250, 250, 250, 0.1);

            input {
                width: 250px;
                height: 55px;
                padding-left: 20px;
                margin-left: 15px;
                background-color: rgba(250, 250, 250, 0.1);
                color: white;
                font-size: 18px;
            }

            button {
                width: 220px;
                height: 55px;
                background-color: rgb(196, 169, 17);
                border: none;
                margin-left: 15px;
                margin-top: 35px;
                border-radius: 8px;
                font-size: 17px;
                color: white;
            }
        }

        .map {
            width: 48%;
            height: 450px;

            ifreme {
                width: 48%;
                height: 450px;
            }
        }
    }

    p {
        text-align: center;
        color: white;
        font-size: 16px;
        padding-top: 18px;
        letter-spacing: 1px;
        font-family: nuneto;

        span {
            color: rgb(224, 128, 9);
        }
    }
}